
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headingOne{
  margin: 40px 0 30px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drop-towns {
  position: relative;
  background-position-x: center;
  background-color: white;
  color: #282c34;
  font-size: medium;
}
.child-towns:hover {
  background-color: #282c34;
  color: white;
  transition: 0.5s;
}
.navbar {
  background-color: #dc3545;
  display: flex;
  justify-content: flex-end!important;
  padding: 10px 0 10px 0;
}
.navbarItem {
  margin-right: 10px;
  color: black;
}

/* //NavBAR */
.sidebar {
  background-color: #282c34;
}

.menuLinks {
  color: azure!important;
  text-decoration: none;
}

.menuLinks:hover {
  color: #dc3545!important;
}
#dropdown {
  color: azure;
}
#dropdown:focus {
  color: #dc3545;
}

.searchIsbn {
  margin: 30px 0 30px 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.addBookPage {
  display: flex;
  flex-direction: column;
}

.addProperties {
  display: flex;
  flex-direction: column;
  
}
.card{
  margin: 30px 0 30px 20px;
}

.radio-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-library-right-column {
  background-color: #282c34;
  color: #dc3545;
  padding-top: 20px;
}

.my-library-left-column {
  background-color: aliceblue;
}

header {
  background-color: #dc3545;
}

.headers-h2 {
 display: flex;
 justify-content: center;
}
.headers-container {
  background-color: aliceblue;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}


.modal-wrapper {
  display: flex;
  background-color: #282c34;
  color: aliceblue;
}


.info-wrapper {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.popup-content  {
  width: 70%!important;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-between;
}

h3 {
  font-size: 25px!important;
}
.button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;

}

#signup-btn {
  text-decoration: none;
  color: aliceblue;
}