
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headingOne{
  margin: 40px 0 30px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drop-towns {
  position: relative;
  background-position-x: center;
  background-color: white;
  color: #282c34;
  font-size: medium;
}
.child-towns:hover {
  background-color: #282c34;
  color: white;
  transition: 0.5s;
}
.navbar {
  background-color: #96705B;
  display: flex;
  justify-content: flex-end!important;
  padding: 10px 0 10px 0;
}
.navbarItem {
  margin-right: 10px;
  color: black;
}

/* //NavBAR */
.sidebar {
  background-color: #1A1423!important;
}

.menuLinks {
  color: azure!important;
  text-decoration: none;
}

.menuLinks:hover {
  color: #96705B!important;
}
#dropdown {
  color: azure;
}
#dropdown:focus {
  color: #96705B;
}

.searchIsbn {
  margin: 30px 0 30px 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.addBookPage {
  display: flex;
  flex-direction: column;
}

.addProperties {
  display: flex;
  flex-direction: column;
  
}
.card{
  margin: 30px 0 30px 20px;
}

.home-card {
  height: 650px;
}

.radio-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-library-right-column {
  background-color: #282c34;
  color: #282c34;
  padding-top: 20px;
}

.my-library-left-column {
  background-color: aliceblue;
  flex-direction: column;
  display: flex;
  align-items: flex-start!important;
}

header {
  background-color: #1A1423
}

.headers-h2 {
 display: flex;
 justify-content: center;
}
.headers-container {
  background-color: aliceblue;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}


.modal-wrapper {
  display: flex;
  background-color: #282c34;
  color: aliceblue;
}


.info-wrapper {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.popup-content  {
  width: 70%!important;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-between;
}

h3 {
  font-size: 25px!important;
}
.button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;

}

#signup-btn {
  text-decoration: none;
  color: aliceblue;
}

.front-page {
    background-image: url('./cover.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
     position: relative;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     color:aliceblue
     
}

.container {
  background-color: #282c34;
  
}

.headers-h2-home {
  display: flex;
  padding-top: 50px;
}

/* .send-form {
  width: 400px;
} */

.message-btns {
  display: flex;
  justify-content: flex-start;
}

.message-btns button:first-child {
  margin-right: 10px;
}

.grid {
  display: flex;
  justify-content: space-around;
}

.popup-content {
  background-color: #282c34!important;
  color: aliceblue;
}

.bg-dark {
   background-color: #1A1423!important;
}

.message-section {
  color: #282c34;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-grid {
  color: #282c34;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.my-library-left-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
}

.proposal {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title-proposal {
  color:aliceblue;
}

.align-top {
  align-items: flex-start!important;
  justify-content: flex-start;
}